<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 0,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });
</script>

<div class="swiper-container">
        <div class="swiper-wrapper style="transform: translate3d(0px, -436px, 0px); transition-duration: 0ms;"">
            <div class="swiper-slide about-1">Slide 1
            </div>
            <div class="swiper-slide about-2">Slide 2
            </div>
            <div class="swiper-slide about-3">Slide 3</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        
    </div>
