<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });
</script>

<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide about-1">
                <div>
                    <h1>우리는 어쩌고 저쩌고 </h1>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
                </div>
            </div>
            <div class="swiper-slide about-2">Slide 2
            </div>
            <div class="swiper-slide about-3">Slide 3</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        
</div>
