<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 0,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });
</script>

<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide about-1">
                <div class="contentfont">
                    <p>우리는 세상을</p>
                    <p>배우고 탐구합니다</p>
                </div>
            </div>
            <div class="swiper-slide about-2">
                <div class="contentfont" style="color: black;">
                    <p>여기엔 무엇을</p>
                    <p>적어야 할까요?</p>
                </div>
            </div>
            <div class="swiper-slide about-3">
                <div class="contentfont">
                    <p>할말이 생각나지</p>
                    <p>않네요 ㅠㅠ</p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        
</div>

<script>
    $("#about").css("color", "white")
</script>