<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });

     $("#toggle").children("div").children("#toggle-item").toggle()
    

    $("#toggle").on("click", "#toggle-form", function() {
		$(this).parent().children("#toggle-item").fadeToggle(400)
	})
       
</script>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide about-1">
            <h1>사진과 그럴싸한 인재상</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
        </div>

        <div class="swiper-slide about-2">
            <h1>선발 PROCESS</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
        </div>

        <div class="swiper-slide about-3" id="FAQ">
            <h1>FAQ</h1>
            <div id="toggle">
                <div >
                    <p id="toggle-form">첫번째 질문</p>
                    <p id="toggle-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
                </div>
                <div>
                    <p id="toggle-form">두번째 질문</p>
                    <p id="toggle-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
                </div>
                <div>
                    <p id="toggle-form">세번째 질문</p>
                    <p id="toggle-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
                </div>
                <div>
                    <p id="toggle-form">네번째 질문</p>
                    <p id="toggle-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora.</p>
                </div>
            </div>
        </div>
    </div>
</div>    
