<div class='container postmargin'>
    <h1 class='text-left'>Editing Post</h1>

    <%= render 'form', post: @post %>

    <div class="text-right">
    <%= link_to 'Show', @post, style: 'color: #777777; font-weight: 300; font-size: 15px' %>
    <%= link_to 'Back', posts_path, style: 'color: #777777; font-weight: 300; font-size: 15px' %></button>
    </div>
</div>