@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700,800,900');

.faqbox {
    margin-left: 300px;
    margin-right: 100px;
}

.box1 {
    width: auto;
    height: auto;
    margin-right: 20px;
    border: 3px solid
}
.ml-10 {
    margin-left: 150px;
}
.gg {
    display: none;
    margin-left: 50px;
}
.centered0 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
}

.centered2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.btn {
    border: 5px solid white !important;
    border-radius: 42px !important;
    opacity: 0.5;
    background-color: black !important;
    width: 322px;
    height: 84px;
    font-size: 43px !important;
}

.btn:hover {
    background-color: #ffc305 !important;
    opacity: 0.8;
    text-decoration: none;
    color: white;
}

.yeah {
    margin-top: -100px;
}

.contentfont {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 110px;
    color: white;
    padding-bottom: -2px;
    letter-spacing: -7px;
}

html, body {
    position: relative;
    height: 100% !important;
    overflow: hidden;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#fff;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.myhand {
    margin-top: 500px;
}

.myhand2 {
    margin-bottom: 150px;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet-active{
background-color:#fff;
}

.about-1{
background-image:url("about-1.png")
}
.about-2{
background-image:url("about-2.png")
}
.about-3{
background-color:#9C27B0;
}


.navbar {
    overflow-x: hidden;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 310px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(225,225,225,0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 78px;
    padding-bottom: 78px;
}

.sidebar:hover {
    background-color: rgba(225,225,225,0.35);
}

.container {
    width: 90%;
    margin-left: 310px;
    padding-left: 35px;
}

.navitem {
    margin-bottom: 15px;
}

.font {
    color: #333333;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.font:hover {
    text-decoration: none;
    color: #75000F;
}

.font:active {
    color: #75000F;
}

.ku {
    margin-bottom: 49px;
}

.box {
    border: 1px solid #888888;
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 7px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    background-color: white;
}